.error-message {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.1);
}

.error-message article {
  position: relative;
  top: 20px;
  padding: 20px;
  // background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
}
